{% extends 'timerecord/base.html' %}
{% load static %}
{% block title %}Profile Page{% endblock %}

{% block content %}
<!-- INFO BLOCK -->
<div class="container userinfo-container" id="userinfo-container">
    <div class="row">
        <div class="col-lg-4">
            <div class="display-4 text-center username fw-bold">{{ request.user.user_name }}</div>
            {% if request.user.is_staff %} <div class="fw-bold text-center text-danger">Staff Member</div> {% endif %}
            <p class="text-center">{{ request.user.email }} <br> {{ request.user.first_name }} {{ request.user.last_name }}</p>
            
            {% if request.user.photo %}
            <div class="text-center">
              <img class="img-fluid rounded-circle py-4" src="{{ request.user.photo.url }}" alt="">
            </div>
            {% else %}
            <img class="img-fluid rounded-circle py-4" src="{% static 'accounts/default-user-profile-picture.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="col-lg-8 shadow userinfo-description">
            <div class="display-4 p-4">About Me</div>
            {% if request.user.about %}
            <p class="fst-italic fs-3">{{ request.user.about }}</p>
            {% else %}
            <p class="fst-italic fs-3">There could be something about you...</p>
            {% endif %}
            <button type="button" class="btn btn-outline-danger fw-bold float-end" hx-post="{% url 'accounts:profile' username=request.user.user_name %}" hx-target="#userinfo-container" hx-trigger="click" hx-swap="outerHTML">Edit Profile</button>
          </div>
        </div>
      </div>
      
      
<!-- GOAL CARDS -->
<div class="row pt-4">
    
    {% for goal in goals %}
    
        <div class="card mb-3 text-white bg-dark m-3" style="max-width: 540px;">
        <div class="row g-0">

          <div class="col-md-4">
            <img src="{{ goal.image.url }}" class="img-fluid rounded-start" alt="{{ goal.slug }}">
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ goal.name }}</h5>
              <p class="card-text">{{ goal.description }}</p>
              <p class="card-text"><small class="text-muted">Target hours: {{ goal.target_hours }}</small></p>
              <p class="card-text"><small class="text-muted">Rating: {{ goal.rating }}/10 </small></p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped " role="progressbar" style="width: {{ goal.check_progress }}%" aria-valuenow="{{ goal.check_progress }}" aria-valuemin="0" aria-valuemax="{{ goal.target_hours }}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    {% endfor %}
<div>

{% endblock %}